<h1 style="text-align: center;">Tektim Chatbot Model and Exploration</h3>

Raw data needed for preprocessing

1. Input: what prompted my message

2. Response: my message

3. Other features: other things that could influence my response

      - time of day

      - user

      - which server its in
    
    
Note: Due to dataset size it may be not in my best interest to make it too complex

In [1]:
#imports
import pandas as pd

In [48]:
df = pd.read_csv('data/break_room_testing/break_room_test.csv')
df_reversed = df.iloc[::-1].reset_index(drop=True)
df_reversed.to_csv('test_sheet_rev.csv', index=False)
df = df_reversed
df = df[['userName','content','date']]
df.head()

   userName                  content                      date
0  phioners                   surely  2024-07-22T08:40:18.682Z
1      tigm                      NaN  2024-07-22T08:50:19.430Z
2      tigm                  holy fk  2024-07-22T08:50:20.783Z
3      tigm  one of my favorite pets  2024-07-22T08:50:25.951Z
4    xenltz                 Wow nice  2024-07-22T09:34:45.206Z

In [49]:
rows_with_nan = df[df.isna().any(axis=1)]

rows_with_nan.head(5)
rows_with_nan.isna().sum()

userName     0
content     38
date         0
dtype: int64

In [52]:
fill_value = "[Image]"
df = df.fillna(value=fill_value)
df.head(20)

,userName,content,date
0,phioners,surely,2024-07-22T08:40:18.682Z
1,tigm,[Image],2024-07-22T08:50:19.430Z
2,tigm,holy fk,2024-07-22T08:50:20.783Z
3,tigm,one of my favorite pets,2024-07-22T08:50:25.951Z
4,xenltz,Wow nice,2024-07-22T09:34:45.206Z
5,xenltz,apparently ii had 3300 supremes in my bank tha...,2024-07-22T09:51:00.292Z
6,xenltz,?,2024-07-22T09:51:02.336Z
7,phioners,<:uhh:1037839657532145774>,2024-07-22T09:52:48.174Z
8,._.miles,Is dungeon good,2024-07-22T11:20:41.259Z
9,_musab,It drops moonstones,2024-07-22T11:20:58.823Z
10,phioners,Last boss kinda fun,2024-07-22T12:13:00.138Z
11,phioners,I'm like 10kc NM didn't do hm yet,2024-07-22T12:13:09.257Z
12,xenltz,first impressions for me are really good,2024-07-22T12:13:12.678Z
13,phioners,Hm doesn't look that bad but if hp scales the ...,2024-07-22T12:14:47.747Z
14,phioners,I don't wanna fight like 50k hp cats before te...,2024-07-22T12:15:11.237Z
15,xenltz,only done firstr boss in hm so far,2024-07-22T12:17:53.565Z
16,xenltz,really fun in hm,2024-07-22T12:17:54.673Z
17,._.miles,I just hope its not a poundfest like rasi/vork,2024-07-22T12:21:30.878Z
18,xenltz,nah it's not,2024-07-22T12:21:54.185Z
19,xenltz,all of the mechs are pretty well telegraphed,2024-07-22T12:22:18.898Z

In [56]:
# select content that does not have . ? !
# .*(?<![?!\.])$ <- regular expression to select it
selected_rows = df[df['content'].str.contains(r'.*(?<![?!\.])$', regex=True)]
selected_rows

,userName,content,date
0,phioners,surely,2024-07-22T08:40:18.682Z
1,tigm,[Image],2024-07-22T08:50:19.430Z
2,tigm,holy fk,2024-07-22T08:50:20.783Z
3,tigm,one of my favorite pets,2024-07-22T08:50:25.951Z
4,xenltz,Wow nice,2024-07-22T09:34:45.206Z
...,...,...,...
883,jibyjib,Yak was solo hm with mage,2024-07-29T04:53:24.173Z
884,jibyjib,Mammoth I don’t recall,2024-07-29T04:53:30.323Z
885,jibyjib,Yak having the ability to send shit back to th...,2024-07-29T04:53:58.669Z
886,jibyjib,But who cares about long trips anymore lmao,2024-07-29T04:54:11.378Z
887,jibyjib,Mammoth for the most part is just completely o...,2024-07-29T04:54:23.066Z

This allowed me to discord NaN values, most likely images, in my dataset

In [ ]:
#example
df = df.drop(index=1)
df.reset_index(drop=True, inplace=True)
df.head()