<h1 style="text-align: center;">Tektim Chatbot Model and Exploration</h3>

import pandas as pd

Raw data needed for preprocessing

1. Input: what prompted my message

2. Response: my message

3. Other features: other things that could influence my response

      - time of day

      - user

      - which server its in
    
    
Note: Due to dataset size it may be not in my best interest to make it too complex

In [29]:
#imports
import pandas as pd

In [48]:
df = pd.read_csv('data/break_room_testing/break_room_test.csv')
df_reversed = df.iloc[::-1].reset_index(drop=True)
df_reversed.to_csv('test_sheet_rev.csv', index=False)
df = df_reversed
df = df[['userName','content','date']]
df.head()

   userName                  content                      date
0  phioners                   surely  2024-07-22T08:40:18.682Z
1      tigm                      NaN  2024-07-22T08:50:19.430Z
2      tigm                  holy fk  2024-07-22T08:50:20.783Z
3      tigm  one of my favorite pets  2024-07-22T08:50:25.951Z
4    xenltz                 Wow nice  2024-07-22T09:34:45.206Z

In [40]:
rows_with_nan = df[df.isna().any(axis=1)]

rows_with_nan.head(5)

     userName content                      date
65   ._.miles     NaN  2024-07-28T02:01:46.686Z
71   ._.miles     NaN  2024-07-28T01:58:41.181Z
77   phioners     NaN  2024-07-28T01:19:06.518Z
86       tigm     NaN  2024-07-27T18:25:21.529Z
121      tigm     NaN  2024-07-27T05:50:53.982Z

In [32]:
# select content that does not have . ? !
# .*(?<![?!\.])$ <- regular expression to select it
selected_rows = df[df['content'].str.contains(r'.*(?<![?!\.])$', regex=True)]
print(selected_rows)

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [ ]:
#example
df = df.drop(index=1)
df.reset_index(drop=True, inplace=True)
df.head()